# Обработка РЦ и "В резерве" (новый алгоритм)

#### Импорты

In [1]:
import pandas as pd
import re
import datetime
pd.options.mode.chained_assignment = None
import glob
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import sys
link_to_table = 'https://docs.google.com/spreadsheets/d/1A1TyZPeq9r2HiDi-CHfmTfRpuAQYToib1vqyTx4ZyRE/edit#gid=0'
df = pd.read_excel('/'.join(link_to_table.split('/')[:-1])+'/export?format=xlsx')
PATH, df = [dict(df.loc[x]) for x in list(df.index)], None
i = 0
while len([py for py in glob.glob(f"{PATH[i]['path_downloads']}*.xlsx")]) == 0:
    i +=1
path_downloads = PATH[i]['path_downloads']
path_algoritm = PATH[i]['path_algoritm']
sys.path.append(f'{path_algoritm}Модули')
import constants_for_marketplace_metrics_dags as const
import working_with_marketplace_metrics_dags as wwm
import maslow_working_module as mwm

#### Пути к файлам

In [2]:
# PATH = [
    
#      {'path_downloads': '/Users/internetrevolution/Белодедов/Копия работы Маслов/Загрузки Маслов/',
#       'path_algoritm': '/Users/internetrevolution/Белодедов/Копия работы Маслов/Алгоритмы Маслов/'} ,
     
#      {'path_downloads': 'G:/Другие компьютеры/iMac/Белодедов/Копия работы Маслов/Загрузки Маслов/',
#       'path_algoritm': 'G:/Другие компьютеры/iMac/Белодедов/Копия работы Маслов/Алгоритмы Маслов/'},
    
#      {'path_downloads': '/Users/macbook/Library/CloudStorage/GoogleDrive-maslowdmitry92@gmail.com/Мой диск/Загрузки Маслов/',
#       'path_algoritm': '/Users/macbook/Library/CloudStorage/GoogleDrive-maslowdmitry92@gmail.com/Мой диск/Алгоритмы Маслов/'} ,
     
#      {'path_downloads': '/Users/dmitriymaslov/Мой диск/Загрузки Маслов/',
#       'path_algoritm': '/Users/dmitriymaslov/Мой диск/Алгоритмы Маслов/'}
     
#     ]
         
# i = 0
# while len([py for py in glob.glob(f"{PATH[i]['path_downloads']}*.xlsx")]) == 0:
#     i +=1

# path_downloads = PATH[i]['path_downloads']
# path_algoritm = PATH[i]['path_algoritm']

# print(f"Загрузки: {path_downloads}")
# print(f"Папка с алгоритмом: {path_algoritm}")

In [3]:
# ss = pd.read_excel(path_downloads + 'нет сс.xlsx', 
#                    dtype={'Артикул': 'str'})

In [4]:
# cp = pd.read_excel('/Users/dmitriymaslov/Мой диск/Алгоритмы Маслов/ОБЩИЕ ПРИЗНАКИ ДЛЯ МЕТРИК/Себестоимость /cost_price 2.0.xlsx', 
#                    dtype={'Артикул': 'str'})

In [5]:
# cp = cp[cp['Себестоимость']>0].reset_index(drop=True)

In [6]:
# ss = ss.merge(cp, on='Артикул', how='left')

In [7]:
# ss.to_excel(path_downloads + 'нет сс.xlsx', index=False)

### Путь к Файлу с РЦ

In [8]:
# engine = create_engine('mysql+pymysql://ipolyakov_db:u1bJdq5n@ipolyakov.beget.tech:3306/ipolyakov_db')

In [9]:
path_rc = path_downloads + 'Остатки_и_доступность_товаров_XLSX.xlsx'

### Загрузка файла с метриками РЦ

In [10]:
# Файл с данными по остаткам и товарам (Загружается ежедневно)

rc = pd.read_excel(path_rc)
rc

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Остатки и доступность товаров,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Параметры:,NaN,NaN,Показать обособленные товары: Нет,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Склад,NaN,NaN,NaN,NaN,NaN,NaN,Сейчас,NaN,NaN,NaN,Ожидается,NaN,NaN,Всего,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2862,J0700,NaN,Этажерка для обуви портативная,NaN,NaN,NaN,шт,1598,NaN,2,1596,NaN,NaN,NaN,1596,NaN,NaN,1596
2863,B0155,NaN,Этажерка разборная,NaN,NaN,NaN,шт,942,4,5,933,NaN,NaN,NaN,933,NaN,NaN,933
2864,B0170,NaN,Ящик пластиковый,NaN,NaN,NaN,шт,4,28,NaN,-24,1810,NaN,1810,1786,NaN,NaN,1786
2865,A2910,NaN,Ящик текстильный,NaN,NaN,NaN,шт,352,NaN,NaN,352,NaN,NaN,NaN,352,NaN,NaN,352
2866,Итого,NaN,NaN,NaN,NaN,NaN,NaN,577439,81807,722,494910,483659,NaN,483659,978569,344,301,978526

In [11]:
list(filter(lambda x: re.compile('[^а-яА-Я ]').sub('', x), [x for x in list(rc['Unnamed: 0'].unique()) if str(x)!='nan']))

['Остатки и доступность товаров',
 'Параметры:',
 'Склад',
 'Артикул',
 'Склад брака и некондиции Иркутск',
 'Склад брака Химки',
 'Склад Иркутск',
 'Склад некондиции Химки',
 'Склад Омск FBS',
 'Склад Омск образцы',
 'СкладХимки Ячеистый',
 '20501К',
 '20500К',
 'Итого']

In [12]:
# rc = pd.read_sql('ir_wh_stocks', con=engine)
# rc

#### Функции

In [13]:
def letter_substitution(data):
    
    data = data.rename(columns={data.columns[0]: 'Артикул'})
    data['Артикул'] = data['Артикул'].astype(str)
    data = data.reset_index(drop=True)
    
    data['Артикул'] = [x.replace(' ', '') for x in list(data['Артикул'])]
    
    fa = list(filter(lambda x: re.compile('[^а-яА-Я ]').sub('', x), list(data['Артикул'])))

    if len(fa) > 0:

        Q = {'е': 'e', 
             'Е': 'E', 
             'Т': 'T', 
             'у': 'y', 
             'о': 'o', 
             'О': 'O', 
             'р': 'p', 
             'Р': 'P', 
             'а': 'a', 
             'А': 'A', 
             'Н': 'H',
             'К': 'K',
             'к': 'k',
             'х': 'x',
             'Х': 'X',
             'с': 'c',
             'С': 'C',
             'В': 'B',
             'М': 'M'}

        for i in range(len(data)):

            for row in list(Q.keys()):

                if row in data.loc[i]['Артикул']:

                    data['Артикул'].loc[i] = data.loc[i]['Артикул'].replace(row, Q[row])


    fa2 = list(filter(lambda x: re.compile('[^а-яА-Я ]').sub('', x), list(data['Артикул'])))

    if len(fa2) == 0:

        return data

#### Обработка

In [14]:
rc = rc.loc[rc[rc[rc.columns[0]]=='Артикул'].index[0]:rc[rc[rc.columns[0]]=='Итого'].index[0]-1].reset_index(drop=True)
rc.columns = rc.loc[0].values
rc_irc = rc[['Артикул', 'Доступно']].iloc[1:, :2].copy()
rc = rc[['Артикул', 'В наличии', 'Отгружается', 'В резерве']]
rc = rc.iloc[1:, :4].reset_index(drop=True)

In [15]:
rc['Артикул'] = rc['Артикул'].astype(str)
rc_irc['Артикул'] = rc_irc['Артикул'].astype(str)

In [16]:
rc['Отгружается'] = rc['Отгружается'].fillna(0)
rc['В резерве'] = rc['В резерве'].fillna(0)
rc['Отгружается'] = rc['Отгружается'].astype(int)
rc['В резерве'] = rc['В резерве'].astype(int)
rc['В резерве'] = rc['В резерве'] + rc['Отгружается']
rc = rc.drop('Отгружается', axis=1)
rc_irc['Доступно'] = rc_irc['Доступно'].fillna(0)

In [17]:
Q = []
i = rc_irc[rc_irc['Артикул']=='Склад Иркутск'].index[0] + 1
while 'Склад' not in rc_irc.loc[i]['Артикул']:
    i += 1
    
    if i >= len(rc_irc):
        break;
        
Q = list(range(rc_irc[rc_irc['Артикул']=='Склад Иркутск'].index[0], i))

rc_irc = rc_irc.query('index in @Q').reset_index(drop=True)
Q = None
i = None
rc_irc = rc_irc[rc_irc['Артикул']!='Склад Иркутск'].reset_index(drop=True)
rc_irc.columns = ['Артикул', 'Остаток РЦ Иркутск']
rc_irc['Остаток РЦ Иркутск'] = rc_irc['Остаток РЦ Иркутск'].astype(int)
rc_irc = letter_substitution(rc_irc)
rc_irc['Артикул'] = list(map(lambda x: re.sub("[^A-Za-z0-9]", "", x), list(rc_irc['Артикул'].values)))
rc_irc = rc_irc.fillna(0)

In [18]:
rc_irc

    Артикул  Остаток РЦ Иркутск
0     J0300                   4
1     18804                 600
2     G0670                  36
3     18804                   0
4     18801                 813
..      ...                 ...
667   27722                  79
668   J0700                 701
669   B0155                 243
670   B0170                 294
671   A2910                 271

[672 rows x 2 columns]

In [19]:
Q = []
i = rc[rc['Артикул']=='Склад брака и некондиции Иркутск'].index[0] + 1


while 'Склад' not in rc.loc[i]['Артикул']:
    i += 1
    
    if i >= len(rc):
        break;
        
Q = list(range(rc[rc['Артикул']=='Склад брака и некондиции Иркутск'].index[0], i))
rc = rc.query('index not in @Q').reset_index(drop=True)

Q = None
i = None

In [20]:
Q = []
i = rc[rc['Артикул']=='Склад брака Химки'].index[0] + 1


while 'Склад' not in rc.loc[i]['Артикул']:
    i += 1
    
    if i >= len(rc):
        break;
        
Q = list(range(rc[rc['Артикул']=='Склад брака Химки'].index[0], i))
rc = rc.query('index not in @Q').reset_index(drop=True)

Q = None
i = None

In [21]:
Q = []
i = rc[rc['Артикул']=='Склад Иркутск'].index[0] + 1


while 'Склад' not in rc.loc[i]['Артикул']:
    i += 1
    
    if i >= len(rc):
        break;
        
Q = list(range(rc[rc['Артикул']=='Склад Иркутск'].index[0], i))
rc = rc.query('index not in @Q').reset_index(drop=True)

Q = None
i = None

In [22]:
Q = []
i = rc[rc['Артикул']=='Склад некондиции Химки'].index[0] + 1


while 'Склад' not in rc.loc[i]['Артикул']:
    i += 1
    
    if i >= len(rc):
        break;
        
Q = list(range(rc[rc['Артикул']=='Склад некондиции Химки'].index[0], i))

rc = rc.query('index not in @Q').reset_index(drop=True)
Q = None
i = None

In [23]:
Q = []
i = rc[rc['Артикул']=='СкладХимки Ячеистый'].index[0] + 1


while 'Склад' not in rc.loc[i]['Артикул']:
    i += 1
    
    if i >= len(rc):
        break;
        
Q = list(range(rc[rc['Артикул']=='СкладХимки Ячеистый'].index[0], i))

rc = rc.query('index in @Q').reset_index(drop=True)
Q = None
i = None

In [24]:
# Q = []
# try:
#     i = rc[rc['Артикул']=='Склад брака'].index[0] + 1
# except:
#     i = rc[rc['Артикул']=='Склад брака Химки'].index[0] + 1


# while 'Склад' not in rc.loc[i]['Артикул']:
#     i += 1
    
#     if i >= len(rc):
#         break;
# try:      
#     Q = list(range(rc[rc['Артикул']=='Склад брака'].index[0], i))
# except:
#     Q = list(range(rc[rc['Артикул']=='Склад брака Химки'].index[0], i))
    

# rc = rc.query('index not in @Q').reset_index(drop=True)

# Q = None
# i = None

In [25]:
# Q = []
# i = rc[rc['Артикул']=='Склад Ангар ЗооОбъединение Неликвид'].index[0] + 1


# while 'Склад' not in rc.loc[i]['Артикул']:
#     i += 1
    
#     if i >= len(rc):
#         break;
        
# Q = list(range(rc[rc['Артикул']=='Склад Ангар ЗооОбъединение Неликвид'].index[0], i))

# rc = rc.query('index not in @Q').reset_index(drop=True)

# Q = None
# i = None

In [26]:
# Q = []
# i = rc[rc['Артикул']=='Склад СВХ'].index[0] + 1


# while 'Склад' not in rc.loc[i]['Артикул']:
#     i += 1
    
#     if i >= len(rc):
#         break;
        
# Q = list(range(rc[rc['Артикул']=='Склад СВХ'].index[0], i))

# rc = rc.query('index not in @Q').reset_index(drop=True)

# Q = None
# i = None

In [27]:
# Q = []
# i = rc[rc['Артикул']=='СВХ Артем'].index[0] + 1


# while 'Склад' not in rc.loc[i]['Артикул']:
#     i += 1
    
#     if i >= len(rc):
#         break;
        
# Q = list(range(rc[rc['Артикул']=='СВХ Артем'].index[0], i))

# rc_svh = rc.copy()
# rc = rc.query('index not in @Q').reset_index(drop=True)
# rc_svh = rc_svh.query('index in @Q').reset_index(drop=True)

# Q = None
# i = None

In [28]:
rc

                 Артикул В наличии  В резерве
0    СкладХимки Ячеистый    313327        980
1                  J0300        58          1
2                  G0670       264          1
3                  G0110         3          0
4                  G0111         4          0
..                   ...       ...        ...
987                27722       215          2
988                J0700      1598          2
989                B0155       942          9
990                B0170         4         28
991                A2910       352          0

[992 rows x 3 columns]

In [29]:
rc = rc.query(f"index in {list(filter(lambda x: 'Склад' not in rc.loc[x]['Артикул'], list(rc.index)))}").reset_index(drop=True)

In [30]:
rc = letter_substitution(rc)

In [31]:
rc

    Артикул В наличии  В резерве
0     J0300        58          1
1     G0670       264          1
2     G0110         3          0
3     G0111         4          0
4     18804       NaN          0
..      ...       ...        ...
986   27722       215          2
987   J0700      1598          2
988   B0155       942          9
989   B0170         4         28
990   A2910       352          0

[991 rows x 3 columns]

In [32]:
rc['Артикул'] = list(map(lambda x: re.sub("[^A-Za-z0-9]", "", x), list(rc['Артикул'].values)))

In [33]:
rc = rc.fillna(0)

In [34]:
rc['В наличии'] = rc['В наличии'].astype(int)
rc['В резерве'] = rc['В резерве'].astype(int)

In [35]:
rc = rc.groupby('Артикул')[['В наличии', 'В резерве']].sum().reset_index(drop=False)

In [36]:
for i in range(len(rc)):
    if rc.loc[i]['В резерве'] == 0:
        rc['В резерве'].loc[i] = None

In [37]:
rc.columns = ['Артикул', 'Остаток на РЦ', 'В резерве']

In [38]:
vr = rc[['Артикул', 'В резерве']]
rc = rc[['Артикул', 'Остаток на РЦ']]

#### Проверка

In [39]:
print(len(rc) - len(list(set(rc['Артикул']))))
print(len(vr) - len(list(set(vr['Артикул']))))
# print(len(rc_svh) - len(list(set(rc_svh['Артикул']))))
print(len(rc_irc) - len(list(set(rc_irc['Артикул']))))

0
0
1

In [40]:
# rc_svh.to_excel(path_downloads + 'СВХ Артем.xlsx', index=False)
rc_irc.to_excel(path_downloads + 'РЦ Иркутск.xlsx', index=False)

In [41]:
rc

    Артикул  Остаток на РЦ
0     16801              3
1     16802              4
2     16803              4
3     16920              0
4     16930            607
..      ...            ...
986   Z0247              0
987   Z0400              3
988   Z0401              0
989   Z0500              4
990   Z0501              7

[991 rows x 2 columns]

In [42]:
vr

    Артикул  В резерве
0     16801        NaN
1     16802        NaN
2     16803        2.0
3     16920        NaN
4     16930        1.0
..      ...        ...
986   Z0247        NaN
987   Z0400        NaN
988   Z0401        NaN
989   Z0500        NaN
990   Z0501        NaN

[991 rows x 2 columns]

In [43]:
print(f"Сумма 'В резерве': {vr[vr.columns[-1]].sum()}")

Сумма 'В резерве': 980.0

In [44]:
print(f"Сумма 'Остаток на РЦ': {rc[rc.columns[-1]].sum()}")

Сумма 'Остаток на РЦ': 313327

In [45]:
print(f"Сумма 'В резерве': {vr[vr.columns[-1]].sum()}")

Сумма 'В резерве': 980.0

In [46]:
print(f"Сумма 'Остаток на РЦ': {rc[rc.columns[-1]].sum()}")

Сумма 'Остаток на РЦ': 313327

#### Выгрузка

In [47]:
if len(rc) - len(list(set(rc['Артикул']))) == 0:
    if len(vr) - len(list(set(vr['Артикул']))) == 0:
        rc.to_excel(path_algoritm + 'ОБЩИЕ ПРИЗНАКИ ДЛЯ МЕТРИК/РЦ/РЦ_обработанные.xlsx', index=False)
        rc.to_excel(path_algoritm + 'WB_ORDERS/РЦ_обработанные.xlsx', index=False)
        rc.to_excel(path_downloads + 'Дима/' + 'РЦ_обработанные.xlsx', index=False)
        vr.to_excel(path_algoritm + 'ОБЩИЕ ПРИЗНАКИ ДЛЯ МЕТРИК/В резерве/В резерве_обработанные.xlsx', index=False)
    else:
        print('Есть дубли ')
else:
    print('Есть дубли ')

In [49]:
rc2 = mwm.select_table_with_last_date_sort_list('ir_wh_stocks', 'Дата_обновления')
if pd.to_datetime(rc2['Дата_обновления'].unique()[0])\
.strftime('%d-%B-%Y') != pd.to_datetime(datetime.datetime.now())\
.strftime('%d-%B-%Y'):
    print('РЦ в БД не обновлен')
    int('РЦ в БД не обновлен')
else:
    None

РЦ в БД не обновлен

ValueError: invalid literal for int() with base 10: 'РЦ в БД не обновлен'

In [53]:
# rc2 = mwm.get_tabl_from_bd('ir_wh_stocks', flag=1)
rc2 = mwm.select_table_with_last_date_sort_list('ir_wh_stocks', 'Дата_обновления')
if pd.to_datetime(rc2['Дата_обновления'].unique()[0])\
.strftime('%d-%B-%Y') != pd.to_datetime(datetime.datetime.now())\
.strftime('%d-%B-%Y'):
    print('РЦ в БД не обновлен')
    int('РЦ в БД не обновлен')
else:
    None          
rc2 = letter_substitution(rc2)
rc_irc2 = rc2[rc2['Склад']=='Склад Иркутск'].copy()
rc_irc2 = rc_irc2.groupby('Артикул')['Всего_Доступно'].sum().reset_index(drop=False)
rc_irc2.columns = ['Артикул', 'Остаток РЦ Иркутск']
# rc2 = rc2[rc2['Склад'].isin(['Склад некондиции Химки', 'Склад Иркутск', 'Склад брака Химки', 'Склад брака и некондиции Иркутск'])==False]
rc2 = rc2[rc2['Склад'].isin(['СкладХимки Ячеистый'])]
vr2 = rc2[['Артикул', 'Сейчас_Отгружается', 'Сейчас_В_резерве']].copy()
vr2 = vr2.groupby('Артикул')[['Сейчас_Отгружается', 'Сейчас_В_резерве']].sum().reset_index(drop=False)
vr2['В резерве'] = vr2['Сейчас_Отгружается'] + vr2['Сейчас_В_резерве']
vr2 = vr2[['Артикул', 'В резерве']]
vr2['В резерве'] = [None if x == 0 else x for x in list(vr2['В резерве'])]
rc2 = rc2.groupby('Артикул')['Сейчас_В_наличии'].sum().reset_index(drop=False)
rc2.columns = ['Артикул', 'Остаток на РЦ']

if len(rc) - len(rc2) !=0:
    print('Количество артикулов rc и rc2 разное')
if rc.groupby('Артикул')['Остаток на РЦ'].sum().to_dict() != rc2.groupby('Артикул')['Остаток на РЦ'].sum().to_dict():
    print('Значения rc и rc2 разные')
    
if len(vr) - len(vr2) !=0:
    print('Количество артикулов vr и vr2 разное')
if vr.groupby('Артикул')['В резерве'].sum().to_dict() != vr2.groupby('Артикул')['В резерве'].sum().to_dict():
    print('Значения vr и vr2 разные')
    
if len(rc_irc) - len(rc_irc2) !=0:
    print('Количество артикулов rc_irc и rc_irc2 разное')
if rc_irc.groupby('Артикул')['Остаток РЦ Иркутск'].sum().to_dict() != rc_irc2.groupby('Артикул')['Остаток РЦ Иркутск'].sum().to_dict():
    print('Значения rc_irc и rc_irc2 разные')

РЦ в БД не обновлен

ValueError: invalid literal for int() with base 10: 'РЦ в БД не обновлен'

In [ ]:
rc['Остаток на РЦ'].sum()

In [ ]:
rc2['Остаток на РЦ'].sum()

In [54]:
rc

    Артикул  Остаток на РЦ
0     16801              3
1     16802              4
2     16803              4
3     16920              0
4     16930            608
..      ...            ...
986   Z0247              0
987   Z0400              3
988   Z0401              0
989   Z0500              4
990   Z0501              7

[991 rows x 2 columns]

In [55]:
rc_irc['Остаток РЦ Иркутск'].sum()

212527

In [56]:
rc_irc2['Остаток РЦ Иркутск'].sum()

NameError: name 'rc_irc2' is not defined

## Обновление файла РЦ_обработанные на корпоративном гугл диске

In [50]:
# Подключение к гугл диску, аутентефикация

gauth = GoogleAuth()
gauth.LocalWebserverAuth()
drive = GoogleDrive(gauth)


# Находим "id" папки "Дима"

id_folder_Dima = [x['id'] for x in drive\
                 .ListFile({'q': "'root' in parents and trashed=false"}).GetList() if x['title'] == "Дима"]
if len(id_folder_Dima) != 1:
    print('error')
    int('error')
else:
    id_folder_Dima = id_folder_Dima[0]

    
# Находим "id" файла "РЦ_обработанные" в папке "Дима"

id_rc = [x['id'] for x in drive.ListFile({'q': f"'{id_folder_Dima}' in parents and trashed=false"})\
.GetList() if 'РЦ_обработанные' in x['title']]

if len(id_rc) != 1:
    print('error')
    int('error')
else:
    id_rc = id_rc[0]

    
# Путь к файлу "РЦ_обработанные" на локальном компьютере

path_file = path_algoritm + "ОБЩИЕ ПРИЗНАКИ ДЛЯ МЕТРИК/РЦ/РЦ_обработанные.xlsx"


# Обновление файла "РЦ_обработанные" на корпоративном гугл диске 

file = drive.CreateFile({'id': id_rc})
file.SetContentFile(path_file)
file.Upload()

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=141351806184-lcpctltvgumjg7nedaiblgr9vtjpk98v.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.