# Работа с Себестоимостями

### Импорты

In [1]:
import pandas as pd
import re
pd.options.mode.chained_assignment = None
import datetime
import numpy as np
import glob
import openpyxl
from openpyxl.styles import Font, PatternFill
import glob
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from sys import exit
import sys
link_to_table = 'https://docs.google.com/spreadsheets/d/1A1TyZPeq9r2HiDi-CHfmTfRpuAQYToib1vqyTx4ZyRE/edit#gid=0'
df = pd.read_excel('/'.join(link_to_table.split('/')[:-1])+'/export?format=xlsx')
PATH, df = [dict(df.loc[x]) for x in list(df.index)], None
i = 0
while len([py for py in glob.glob(f"{PATH[i]['path_downloads']}*.xlsx")]) == 0:
    i +=1
path_downloads = PATH[i]['path_downloads']
path_algoritm = PATH[i]['path_algoritm']
sys.path.append(f'{path_algoritm}Модули')
import constants_for_marketplace_metrics_dags as const
import working_with_marketplace_metrics_dags as wwm
import maslow_working_module as mwm

### Путь к файлам

In [2]:
# PATH = [
    
#      {'path_downloads': '/Users/internetrevolution/Белодедов/Копия работы Маслов/Загрузки Маслов/',
#       'path_algoritm': '/Users/internetrevolution/Белодедов/Копия работы Маслов/Алгоритмы Маслов/'} ,
     
#      {'path_downloads': 'G:/Другие компьютеры/iMac/Белодедов/Копия работы Маслов/Загрузки Маслов/',
#       'path_algoritm': 'G:/Другие компьютеры/iMac/Белодедов/Копия работы Маслов/Алгоритмы Маслов/'},
    
#      {'path_downloads': '/Users/macbook/Library/CloudStorage/GoogleDrive-maslowdmitry92@gmail.com/Мой диск/Загрузки Маслов/',
#       'path_algoritm': '/Users/macbook/Library/CloudStorage/GoogleDrive-maslowdmitry92@gmail.com/Мой диск/Алгоритмы Маслов/'} ,
     
#      {'path_downloads': '/Users/dmitriymaslov/Мой диск/Загрузки Маслов/',
#       'path_algoritm': '/Users/dmitriymaslov/Мой диск/Алгоритмы Маслов/'}
     
#     ]
         
# i = 0
# while len([py for py in glob.glob(f"{PATH[i]['path_downloads']}*.xlsx")]) == 0:
#     i +=1

# path_downloads = PATH[i]['path_downloads']
# path_algoritm = PATH[i]['path_algoritm']

# print(f"Загрузки: {path_downloads}")
# print(f"Папка с алгоритмом: {path_algoritm}")

In [3]:
def letter_substitution(data):
    
    data = data.rename(columns={data.columns[0]: 'Артикул'})
    data['Артикул'] = data['Артикул'].astype(str)
    data = data.reset_index(drop=True)
    
    fa = list(filter(lambda x: re.compile('[^а-яА-Я ]').sub('', x), list(data['Артикул'])))

    if len(fa) > 0:

        Q = {'е': 'e', 
             'Е': 'E', 
             'Т': 'T', 
             'у': 'y', 
             'о': 'o', 
             'О': 'O', 
             'р': 'p', 
             'Р': 'P', 
             'а': 'a', 
             'А': 'A', 
             'Н': 'H',
             'К': 'K',
             'х': 'x',
             'Х': 'X',
             'с': 'c',
             'С': 'C',
             'В': 'B',
             'М': 'M'}

        for i in range(len(data)):

            for row in list(Q.keys()):

                if row in data.loc[i]['Артикул']:

                    data['Артикул'].loc[i] = data.loc[i]['Артикул'].replace(row, Q[row])


#     fa2 = list(filter(lambda x: re.compile('[^а-яА-Я ]').sub('', x), list(data['Артикул'])))

#     if len(fa2) == 0:

    return data

In [4]:
# актуальная себестоимость

path_cp = path_algoritm + 'ОБЩИЕ ПРИЗНАКИ ДЛЯ МЕТРИК/Себестоимость /cost_price 2.0.xlsx'


# себестоимость Саши

path_cp_s = path_downloads + 'Себестоимость сведенная.xlsx'

# себестоимость Саши2.0

# path_cp_s_new = path_downloads + 'Себестоимость сведенная_new().xlsx'

In [5]:
# cp_s_new = letter_substitution(pd.read_excel(path_cp_s_new,
#                                sheet_name='Для метрик',
#                                usecols=['Артикул', 'Себестоимость с НДС для наценки'],
#                                dtype={'Артикул': 'str',
#                                       'Себестоимость с НДС для наценки': 'float'}))\
#            .rename(columns={'Себестоимость с НДС для наценки': 'Себестоимость'})
# if len(cp_s_new) - len(list(set(cp_s_new['Артикул']))) != 0 or cp_s_new.isna().sum().sum() != 0:
#     exit()
# else:
#     cp_s_new.to_excel(path_cp, index=False)
    
# # Подключение к гугл диску, аутентефикация

# gauth = GoogleAuth()
# gauth.LocalWebserverAuth()
# drive = GoogleDrive(gauth)


# # Находим "id" папки "Дима"

# id_folder_Dima = [x['id'] for x in drive\
#                  .ListFile({'q': "'root' in parents and trashed=false"}).GetList() if x['title'] == "Дима"]
# if len(id_folder_Dima) != 1:
#     print('error')
#     int('error')
# else:
#     id_folder_Dima = id_folder_Dima[0]

    
# # Находим "id" файла "cost_price 2.0" в папке "Дима"

# id_cp = [x['id'] for x in drive.ListFile({'q': f"'{id_folder_Dima}' in parents and trashed=false"})\
# .GetList() if 'cost_price 2.0' in x['title']]

# if len(id_cp) != 1:
#     print('error')
#     int('error')
# else:
#     id_cp = id_cp[0]

    
# # Путь к файлу "cost_price 2.0" на локальном компьютере

# path_file = path_algoritm + "ОБЩИЕ ПРИЗНАКИ ДЛЯ МЕТРИК/Себестоимость /cost_price 2.0.xlsx"


# # Обновление файла "cost_price 2.0" на корпоративном гугл диске 

# file = drive.CreateFile({'id': id_cp})
# file.SetContentFile(path_file)
# file.Upload()

In [6]:
# pd.read_excel(path_cp_s_new,
#            sheet_name='Для метрик',
#            usecols=['Артикул', 'Себестоимость с НДС для наценки'],
#            dtype={'Артикул': 'str',
#                   'Себестоимость с НДС для наценки': 'float'})\
# .rename(columns={'Себестоимость с НДС для наценки': 'Себестоимость'})

In [7]:
# Q = """19300
# 28904
# 50110
# 50220
# 50366
# 50490
# 50540
# A1813
# G0019
# G0030
# G0032
# G0033
# G0034
# G0035
# G0037
# G0052
# G0053
# G0054
# G0110
# G0290
# G0310
# J0580
# A2223
# K0071
# 51001
# A4905
# A4906
# G0301
# G0520
# G0521""".split('\n')
# cp = pd.read_excel(path_cp)
# cp['Артикул'] = cp['Артикул'].astype(str)
# cp[cp['Артикул'].isin(Q)].reset_index(drop=True).to_excel(path_downloads + 'Себестоимость части товаров.xlsx', index=False)

In [8]:
cp_s = pd.read_excel(path_cp_s,
                     sheet_name='Для метрик',
                     usecols=['Артикул', 'Себестоимость с НДС для наценки'],
                     dtype={'Артикул': 'str',
                            'Себестоимость с НДС для наценки': 'float'})\
.rename(columns={'Себестоимость с НДС для наценки': 'Себестоимость'})

In [9]:
cp_s[cp_s['Артикул']=='A3508']

    Артикул  Себестоимость
489   A3508          87.72

In [10]:
cp_s

    Артикул  Себестоимость
0     16801         243.71
1     16802         243.71
2     16803         243.71
3     16804         243.71
4     16920          42.59
..      ...            ...
991   Z0247         648.94
992   Z0400         265.66
993   Z0401         570.14
994   Z0500         945.68
995   Z0501         503.49

[996 rows x 2 columns]

In [11]:
# cp_s = pd.read_excel(path_cp_s)
# cp_s.columns = list(cp_s.loc[0].values)
# cp_s = cp_s[['Документы', 'Актуальная себестоимость с НДС']]
Q = list(filter(lambda x: str(list(cp_s.loc[x].values)[0]) == 'nan' and str(list(cp_s.loc[x].values)[-1]) == 'nan', list(cp_s.index)))
W = list(filter(lambda x: str(list(cp_s.loc[x].values)[0]) == cp_s.columns[0] and str(list(cp_s.loc[x].values)[-1]) == cp_s.columns[-1], list(cp_s.index)))
Q = Q + W
cp_s = cp_s.query("index not in @Q").reset_index(drop=True)
cp_s.columns = ['Артикул'] + [cp_s.columns[-1]]
cp_s['Артикул'] = cp_s['Артикул'].astype(str)
# cp_s = letter_substitution(cp_s)
len(cp_s) - len(list(set(cp_s['Артикул'])))

0

In [12]:
cp = pd.read_excel(path_cp)
cp['Артикул'] = cp['Артикул'].astype(str)
# cp = letter_substitution(cp)
len(cp) - len(list(set(cp['Артикул'])))

0

In [13]:
cp

      Артикул  Себестоимость
0       16801     243.710000
1       16802     243.710000
2       16803     243.710000
3       16804     243.710000
4       16920      42.590000
...       ...            ...
1365    27603     333.000000
1366    20600      30.762308
1367   BK0171     443.880000
1368  A2501BT     344.320000
1369    G0653     696.450000

[1370 rows x 2 columns]

In [14]:
list(filter(lambda x: re.compile('[^а-яА-Я ]').sub('', x), list(cp['Артикул'])))

['20500К', '20501К', '20501Р', 'B0072Н', 'G0182к', 'безназвания', 'с20502']

In [15]:
# cp = cp.drop_duplicates().reset_index(drop=True)

In [16]:
len(cp) - len(list(set(cp['Артикул'])))

0

In [17]:
R = []
for i in range(len(cp)):
    art = cp.loc[i]['Артикул']
    if len(cp[cp['Артикул']==art]) > 1:
        display(cp[cp['Артикул']==art])
        R.append(art)
        
R = list(set(R))

In [18]:
cp_s.query('Артикул in @R')

Empty DataFrame
Columns: [Артикул, Себестоимость]
Index: []

In [19]:
cp_s.columns = cp.columns

In [20]:
cp = cp.query(f"Артикул in {list(set(np.setdiff1d(list(set(cp['Артикул'])), list(set(cp_s['Артикул'])))))}").reset_index(drop=True)

In [21]:
cp_s = pd.concat([cp_s, cp], ignore_index=True)

In [22]:
# cp.to_excel(path_algoritm + 'Себестоимость товаров, которых нет в "Себестоимостях от Саши".xlsx', index=False)

In [23]:
cp_s

      Артикул  Себестоимость
0       16801     243.710000
1       16802     243.710000
2       16803     243.710000
3       16804     243.710000
4       16920      42.590000
...       ...            ...
1367    27603     333.000000
1368    20600      30.762308
1369   BK0171     443.880000
1370  A2501BT     344.320000
1371    G0653     696.450000

[1372 rows x 2 columns]

In [24]:
len(cp_s) - len(list(set(cp_s['Артикул'])))

0

In [25]:
list(filter(lambda x: re.compile('[^а-яА-Я, ]').sub('', x), list(cp_s['Артикул'])))

['20500К',
 '20501К',
 '20501Р',
 'B0072Н',
 'G0182к',
 'G0634,',
 'G0635,',
 'безназвания',
 'с20502']

In [26]:
f_cp = pd.read_excel(path_downloads + 'временно другая себестоимость.xlsx')
f_cp['Артикул'] = f_cp['Артикул'].astype(str)
f_cp

  Артикул  Себестоимость
0   28600         362.04
1   28601         285.20
2   50000         327.09
3   50001         433.83
4   H0012        1224.04
5   H0013        1224.05
6   H0015        1478.10

In [27]:
cp_s['Себестоимость'].sum()

346336.006795465

In [28]:
for i in range(len(cp_s)):
    art = cp_s.loc[i]['Артикул']
    if art in list(set(f_cp['Артикул'])):
#         print(f_cp[f_cp['Артикул']==art]['Себестоимость'].values[0])
        cp_s['Себестоимость'].loc[i] = f_cp[f_cp['Артикул']==art]['Себестоимость'].values[0]

In [29]:
list(filter(lambda x: re.compile('[^а-яА-Я ]').sub('', x), list(cp_s['Артикул'])))

['20500К', '20501К', '20501Р', 'B0072Н', 'G0182к', 'безназвания', 'с20502']

In [30]:
cp_s = cp_s[cp_s['Себестоимость'].astype(str)!='nan'].reset_index(drop=True)

In [31]:
len(cp_s) - len(list(set(cp_s['Артикул'])))

0

In [32]:
cp_s[cp_s['Артикул']=='20500']

    Артикул  Себестоимость
103   20500         620.32

In [33]:
[x for x in list(cp_s['Артикул']) if ',' in x]

['G0634,', 'G0635,']

In [34]:
cp_s = cp_s[cp_s["Артикул"].isin([x for x in list(cp_s['Артикул']) if ',' in x])==False].reset_index(drop=True)

In [35]:
cp_s['Себестоимость'].sum()

345175.87679546507

In [36]:
cp_s['Себестоимость'].sum()

345175.87679546507

In [37]:
cp_s.to_excel(path_cp, index=False)

In [38]:
cp_s_for_db = cp_s.copy()
cp_s_for_db['date'] = const.dt_now.date().strftime('%d-%B-%Y')
mwm.unique_items(cp_s_for_db)
cp_s_for_db.columns = ['Артикул', 'Себестоимость', 'date']

In [39]:
# mwm.create_table(cp_s_for_db,
#              'cost_price',
#              ['Артикул', 'date'])
# mwm.add_comment_from_table('cost_price',
#                            'Себестоимость',
#                            'для наценки с НДС в руб')

In [40]:
mwm.update_data_date_filter(cp_s_for_db,
                            'cost_price',
                            'date')

## Обновление файла cost_price 2.0 на корпоративном гугл диске

In [41]:
# Подключение к гугл диску, аутентефикация

gauth = GoogleAuth()
gauth.LocalWebserverAuth()
drive = GoogleDrive(gauth)


# Находим "id" папки "Дима"

id_folder_Dima = [x['id'] for x in drive\
                 .ListFile({'q': "'root' in parents and trashed=false"}).GetList() if x['title'] == "Дима"]
if len(id_folder_Dima) != 1:
    print('error')
    int('error')
else:
    id_folder_Dima = id_folder_Dima[0]

    
# Находим "id" файла "cost_price 2.0" в папке "Дима"

id_cp = [x['id'] for x in drive.ListFile({'q': f"'{id_folder_Dima}' in parents and trashed=false"})\
.GetList() if 'cost_price 2.0' in x['title']]

if len(id_cp) != 1:
    print('error')
    int('error')
else:
    id_cp = id_cp[0]

    
# Путь к файлу "cost_price 2.0" на локальном компьютере

path_file = path_algoritm + "ОБЩИЕ ПРИЗНАКИ ДЛЯ МЕТРИК/Себестоимость /cost_price 2.0.xlsx"


# Обновление файла "cost_price 2.0" на корпоративном гугл диске 

file = drive.CreateFile({'id': id_cp})
file.SetContentFile(path_file)
file.Upload()

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=141351806184-lcpctltvgumjg7nedaiblgr9vtjpk98v.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.