# SQL скрипты для представлений

## new view

### oz_view_ddl

In [ ]:
"""
CREATE OR REPLACE VIEW dds_ir_db.oz_view as
with
oz_view_without_prices_from_orders as (
with 
oz_ord as( 
select 
item_code::varchar,
date::date,
orders::bigint,
account::varchar
from dds_ir_db.dds_oz_orders
where item_code is not null and date is not null and orders > 0
order by date desc, account, item_code::varchar
),
oz_pr as (
select 
item_code::varchar,
date::date,
prices::bigint,
prices_before_discount::bigint,
account::varchar
from dds_ir_db.dds_oz_prices
where item_code is not null and date is not null and prices > 0
order by date desc, account, item_code::varchar
),
oz_st as (
select 
item_code::varchar,
date::date,
fbo_stocks::bigint,
fbs_stocks::bigint,
account::varchar
from dds_ir_db.dds_oz_stocks
where item_code is not null and date is not null and fbo_stocks > 0 or fbs_stocks > 0
order by date desc, account, item_code::varchar
),
oz_buy as (
select
article::varchar as item_code,
date::date,
sum(buyouts::bigint) as buyouts,
'ir' as account
from ir_db.buyouts
where mplace = 'OZON'
group by article::varchar, date::date
having sum(buyouts::bigint) > 0 and date::date <= now()::date
order by date desc, account, article::varchar
)
select 
coalesce(oz_ord.item_code, oz_pr.item_code, oz_st.item_code, oz_buy.item_code) as item_code,
coalesce(oz_ord.date, oz_pr.date, oz_st.date, oz_buy.date) as date,
coalesce(orders, 0) as orders,
prices,
prices_before_discount,
coalesce(fbo_stocks, 0) as fbo_stocks,
coalesce(fbs_stocks, 0) as fbs_stocks,
coalesce(buyouts, 0) as buyouts,
coalesce(orders, 0) - coalesce(buyouts, 0) as orders_without_buyouts,
coalesce(oz_ord.account, oz_pr.account, oz_st.account, oz_buy.account) as account,
'OZ' as marketplace
from 
oz_ord 
full join oz_pr
on oz_ord.item_code = oz_pr.item_code and oz_ord.date = oz_pr.date and oz_ord.account = oz_pr.account
full join oz_st
on oz_pr.item_code = oz_st.item_code and oz_pr.date = oz_st.date and oz_pr.account = oz_st.account
full join oz_buy
on oz_st.item_code = oz_buy.item_code and oz_st.date = oz_buy.date and oz_st.account = oz_buy.account
order by coalesce(oz_ord.date, oz_pr.date, oz_st.date, oz_buy.date)::date desc, 
coalesce(oz_ord.account, oz_pr.account, oz_st.account, oz_buy.account), 
coalesce(oz_ord.item_code, oz_pr.item_code, oz_st.item_code, oz_buy.item_code)::varchar
),
oz_prices_from_full_oz_orders as (
with
oz_prices_from_full_oz_orders_sub
as (
with
oz_pr_from_ozon_orders_copy as (
select 
products_offer_id::varchar as item_code, 
created_at::date as date, 
round(avg(products_price::bigint))::bigint as prices_from_orders,
'ir' as account
from ir_db.ozon_orders_copy
where products_offer_id::varchar is not null 
and created_at::date is not null
and products_price::bigint is not null
and products_price::bigint > 0
group by account, created_at::date, products_offer_id::varchar
having products_offer_id::varchar != ''
order by account, created_at::date desc, products_offer_id::varchar
),
oz_pr_from_oz_fbs_orders as (
select 
products_offer_id::varchar as item_code, 
in_process_at::date as date, 
round(avg(products_price::bigint))::bigint as prices_from_orders,
'ir' as account
from ir_db.oz_fbs_orders
where products_offer_id::varchar is not null 
and in_process_at::date is not null
and products_price::bigint is not null
and products_price::bigint > 0
group by account, in_process_at::date, products_offer_id::varchar
having products_offer_id::varchar != ''
order by account, in_process_at::date desc, products_offer_id::varchar
),
oz_pr_from_oz_kz_fbs_orders as (
select
products_offer_id::varchar as item_code, 
in_process_at::date as date, 
round(avg(to_number(products_price, '99G999D9S')))::bigint as prices_from_orders,
'kz' as account
from ir_db.oz_kz_fbs_orders
where products_offer_id::varchar is not null 
and in_process_at::date is not null
and to_number(products_price, '99G999D9S') is not null
and to_number(products_price, '99G999D9S') > 0
group by account, in_process_at::date, products_offer_id::varchar
having products_offer_id::varchar != ''
order by account, in_process_at::date desc, products_offer_id::varchar
),
oz_pr_from_oz_ssy_fbo_orders as (
select 
offer_id::varchar as item_code, 
created_at::date as date, 
round(avg(price::bigint))::bigint as prices_from_orders,
'ssy' as account
from ir_db.oz_ssy_fbo_orders
where offer_id::varchar is not null 
and created_at::date is not null
and price::bigint is not null
and price::bigint > 0
group by account, created_at::date, offer_id::varchar
having offer_id::varchar != ''
order by account, created_at::date desc, offer_id::varchar
)
select *
from oz_pr_from_ozon_orders_copy
union all 
select *
from oz_pr_from_oz_fbs_orders
union all 
select *
from oz_pr_from_oz_kz_fbs_orders
union all 
select *
from oz_pr_from_oz_ssy_fbo_orders
)
select 
item_code::varchar,
date::date,
round(avg(prices_from_orders))::bigint as prices_from_orders,
account::varchar
from oz_prices_from_full_oz_orders_sub
group by account::varchar, date::date, item_code::varchar
order by account::varchar, date::date desc, item_code::varchar
)
select 
oz_view_without_prices_from_orders.item_code,
oz_view_without_prices_from_orders.date,
oz_view_without_prices_from_orders.orders,
oz_view_without_prices_from_orders.prices,
oz_view_without_prices_from_orders.prices_before_discount,
oz_prices_from_full_oz_orders.prices_from_orders,
oz_view_without_prices_from_orders.fbo_stocks,
oz_view_without_prices_from_orders.fbs_stocks,
oz_view_without_prices_from_orders.buyouts,
oz_view_without_prices_from_orders.orders_without_buyouts,
oz_view_without_prices_from_orders.account,
oz_view_without_prices_from_orders.marketplace
from oz_view_without_prices_from_orders
left join oz_prices_from_full_oz_orders
on oz_view_without_prices_from_orders.account = oz_prices_from_full_oz_orders.account
and oz_view_without_prices_from_orders.date = oz_prices_from_full_oz_orders.date
and oz_view_without_prices_from_orders.item_code = oz_prices_from_full_oz_orders.item_code;
"""

### ya_view_ddl

In [ ]:
"""
CREATE OR REPLACE VIEW dds_ir_db.ya_view as
with
ya_view_without_prices_from_orders as (
with 
ya_ord as( 
select 
item_code::varchar,
date::date,
orders::bigint,
account::varchar
from dds_ir_db.dds_ya_orders
where item_code is not null and date is not null and orders > 0
order by date desc, account, item_code::varchar
),
ya_pr as (
select 
item_code::varchar,
date::date,
prices::bigint,
prices_before_discount::bigint,
account::varchar
from dds_ir_db.dds_ya_prices
where item_code is not null and date is not null and prices > 0
order by date desc, account, item_code::varchar
),
ya_st as (
select 
item_code::varchar,
date::date,
fbo_stocks::bigint,
fbs_stocks::bigint,
account::varchar
from dds_ir_db.dds_ya_stocks
where item_code is not null and date is not null and fbo_stocks > 0 or fbs_stocks > 0
order by date desc, account, item_code::varchar
)
select 
coalesce(ya_ord.item_code, ya_pr.item_code, ya_st.item_code) as item_code,
coalesce(ya_ord.date, ya_pr.date, ya_st.date) as date,
coalesce(orders, 0) as orders,
prices,
prices_before_discount,
coalesce(fbo_stocks, 0) as fbo_stocks,
coalesce(fbs_stocks, 0) as fbs_stocks,
0 as buyouts,
coalesce(orders, 0) as orders_without_buyouts,
coalesce(ya_ord.account, ya_pr.account, ya_st.account) as account,
'YA' as marketplace
from 
ya_ord 
full join ya_pr
on ya_ord.item_code = ya_pr.item_code and ya_ord.date = ya_pr.date and ya_ord.account = ya_pr.account
full join ya_st
on ya_pr.item_code = ya_st.item_code and ya_pr.date = ya_st.date and ya_pr.account = ya_st.account
order by coalesce(ya_ord.date, ya_pr.date, ya_st.date)::date desc, 
coalesce(ya_ord.account, ya_pr.account, ya_st.account), 
coalesce(ya_ord.item_code, ya_pr.item_code, ya_st.item_code)::varchar
),
ya_prices_from_full_ya_orders as (
with
ya_pr_from_yandex_orders2_copy as (
select 
items_offerid::varchar as item_code, 
creationdate::date as date, 
round(avg(items_price::bigint))::bigint as prices_from_orders,
'ir' as account
from ir_db.yandex_orders2_copy
where items_offerid::varchar is not null 
and creationdate::date is not null 
and items_price::bigint is not null 
and items_price::bigint > 0
group by creationdate::date, items_offerid::varchar
order by creationdate::date desc, items_offerid::varchar
)
select * 
from ya_pr_from_yandex_orders2_copy
)
select 
ya_view_without_prices_from_orders.item_code,
ya_view_without_prices_from_orders.date,
ya_view_without_prices_from_orders.orders,
ya_view_without_prices_from_orders.prices,
ya_view_without_prices_from_orders.prices_before_discount,
ya_prices_from_full_ya_orders.prices_from_orders,
ya_view_without_prices_from_orders.fbo_stocks,
ya_view_without_prices_from_orders.fbs_stocks,
ya_view_without_prices_from_orders.buyouts,
ya_view_without_prices_from_orders.orders_without_buyouts,
ya_view_without_prices_from_orders.account,
ya_view_without_prices_from_orders.marketplace
from ya_view_without_prices_from_orders
left join ya_prices_from_full_ya_orders
on ya_view_without_prices_from_orders.account = ya_prices_from_full_ya_orders.account
and ya_view_without_prices_from_orders.date = ya_prices_from_full_ya_orders.date
and ya_view_without_prices_from_orders.item_code = ya_prices_from_full_ya_orders.item_code;
"""

### wb_with_bar_view_ddl

In [11]:
"""
CREATE OR REPLACE VIEW dds_ir_db.wb_with_bar_view as
with 
wb_ord as( 
select 
barcode::bigint,
date::date,
orders::bigint,
account::varchar
from dds_ir_db.dds_wb_orders
where barcode::bigint is not null and date is not null and orders > 0 and barcode::bigint != 0
order by date desc, account, barcode::bigint
),
wb_pr as (
select 
barcode::bigint,
date::date,
prices::bigint,
prices_before_discount::bigint,
account::varchar
from dds_ir_db.dds_wb_prices
where barcode is not null and date is not null and prices > 0 and barcode::bigint != 0
order by date desc, account,barcode::bigint
),
wb_st as (
select 
barcode::bigint,
date::date,
fbo_stocks::bigint,
fbs_stocks::bigint,
account::varchar
from dds_ir_db.dds_wb_stocks
where barcode is not null and date is not null and barcode::bigint != 0
order by date desc, account, barcode::bigint
)
select 
coalesce(wb_ord.barcode, wb_pr.barcode, wb_st.barcode)::bigint as barcode,
coalesce(wb_ord.date, wb_pr.date, wb_st.date) as date,
coalesce(orders, 0) as orders,
prices,
prices_before_discount,
coalesce(fbo_stocks, 0) as fbo_stocks,
coalesce(fbs_stocks, 0) as fbs_stocks,
coalesce(wb_ord.account, wb_pr.account, wb_st.account) as account
from 
wb_ord 
full join wb_pr
on wb_ord.barcode = wb_pr.barcode and wb_ord.date = wb_pr.date and wb_ord.account = wb_pr.account
full join wb_st
on wb_pr.barcode = wb_st.barcode and wb_pr.date = wb_st.date and wb_pr.account = wb_st.account
order by coalesce(wb_ord.date, wb_pr.date, wb_st.date)::date desc, 
coalesce(wb_ord.account, wb_pr.account, wb_st.account), 
coalesce(wb_ord.barcode, wb_pr.barcode, wb_st.barcode)::bigint;
"""

### wb_view_ddl

In [13]:
"""
CREATE OR REPLACE VIEW dds_ir_db.wb_view as
with
wb_view_without_prices_from_orders as (
with
wb_with_art as (
select 
article_name::varchar as item_code,
date::date,
sum(orders)::bigint as orders,
avg(prices)::bigint as prices,
avg(prices_before_discount)::bigint as prices_before_discount,
sum(fbo_stocks)::bigint as fbo_stocks,
sum(fbs_stocks)::bigint as fbs_stocks,
account
from dds_ir_db.wb_with_bar_view as wwbv
left join ir_db.article_barcodes as ab
on wwbv.barcode::bigint = ab.barcode::bigint
where article_name is not null
group by article_name::varchar, date::date, account::varchar
),
wb_buy as (
select
article::varchar as item_code,
date::date,
sum(buyouts::bigint) as buyouts,
'ir' as account
from ir_db.buyouts
where mplace = 'WB'
group by article::varchar, date::date
having sum(buyouts::bigint) > 0 and date::date <= now()::date
order by date desc, account, article::varchar
)
select 
coalesce(wb_with_art.item_code, wb_buy.item_code)::varchar as item_code,
coalesce(wb_with_art.date, wb_buy.date)::date as date,
coalesce(orders, 0) as orders,
prices,
prices_before_discount,
coalesce(fbo_stocks, 0) as fbo_stocks,
coalesce(fbs_stocks, 0) as fbs_stocks,
coalesce(buyouts, 0) as buyouts,
coalesce(orders, 0) - coalesce(buyouts, 0) as orders_without_buyouts,
coalesce(wb_with_art.account, wb_buy.account) as account,
'WB' as marketplace
from wb_with_art 
full join wb_buy
on wb_with_art.item_code = wb_buy.item_code
order by coalesce(wb_with_art.date, wb_buy.date)::date desc, 
coalesce(wb_with_art.account, wb_buy.account), 
coalesce(wb_with_art.item_code, wb_buy.item_code)::varchar
),
wb_prices_from_full_wb_orders as (
with
wb_pr_from_wb_orders2_copy as (
select 
replace(supplierarticle::varchar, '/', '') as item_code,
date::date as date,
round(avg((totalprice / 100) * (100 - discountpercent)))::bigint as prices_from_orders,
'ir' as account
from ir_db.wb_orders2_copy
where replace(supplierarticle::varchar, '/', '') is not null 
and totalprice is not null 
and totalprice::bigint > 0
and coalesce(discountpercent, 0)::bigint <= 100
and date is not null 
group by account, date::date, replace(supplierarticle::varchar, '/', '')
having round(avg((totalprice / 100) * (100 - discountpercent)))::bigint > 0
order by account, date::date desc, replace(supplierarticle::varchar, '/', '')
),
wb_pr_from_wb_kz_orders as (
select 
rtrim(replace(supplierarticle::varchar, '/', ''), 'Q') as item_code,
date::date as date,
round(avg((totalprice / 100) * (100 - discountpercent)))::bigint as prices_from_orders,
'kz' as account
from ir_db.wb_kz_orders
where rtrim(replace(supplierarticle::varchar, '/', ''), 'Q') is not null 
and totalprice is not null 
and totalprice::bigint > 0
and coalesce(discountpercent, 0)::bigint <= 100
and date is not null 
group by account, date::date, rtrim(replace(supplierarticle::varchar, '/', ''), 'Q')
having round(avg((totalprice / 100) * (100 - discountpercent)))::bigint > 0
order by account, date::date desc, rtrim(replace(supplierarticle::varchar, '/', ''), 'Q')
)
select * 
from wb_pr_from_wb_orders2_copy
union all
select *
from wb_pr_from_wb_kz_orders
)
select 
wb_view_without_prices_from_orders.item_code,
wb_view_without_prices_from_orders.date,
wb_view_without_prices_from_orders.orders,
wb_view_without_prices_from_orders.prices,
wb_view_without_prices_from_orders.prices_before_discount,
wb_prices_from_full_wb_orders.prices_from_orders,
wb_view_without_prices_from_orders.fbo_stocks,
wb_view_without_prices_from_orders.fbs_stocks,
wb_view_without_prices_from_orders.buyouts,
wb_view_without_prices_from_orders.orders_without_buyouts,
wb_view_without_prices_from_orders.account,
wb_view_without_prices_from_orders.marketplace
from wb_view_without_prices_from_orders
left join wb_prices_from_full_wb_orders
on wb_view_without_prices_from_orders.account = wb_prices_from_full_wb_orders.account
and wb_view_without_prices_from_orders.date = wb_prices_from_full_wb_orders.date
and wb_view_without_prices_from_orders.item_code = wb_prices_from_full_wb_orders.item_code;
"""

### RC_stocks_view_ddl

In [ ]:
"""
CREATE OR REPLACE VIEW dds_ir_db.RC_stocks_view as
with
RC_stocks as (
with 
Irkutsk_stocks as 
(
select 
Артикул::varchar as item_code,
Дата_обновления::date as date,
sum(coalesce(Сейчас_Доступно::bigint, 0))::bigint as Irkutsk_stocks
from ir_db.ir_wh_stocks
where Склад::varchar = 'Склад Иркутск'
and Артикул::varchar is not null
and Дата_обновления::date is not null
and Сейчас_Доступно::bigint is not null
group by Дата_обновления::date, Артикул::varchar
order by Дата_обновления::date desc, Артикул::varchar
),
Khimki_stocks as 
(
select 
Артикул::varchar as item_code,
Дата_обновления::date as date,
sum(coalesce(Сейчас_Доступно::bigint, 0))::bigint as Khimki_stocks
from ir_db.ir_wh_stocks
where Склад::varchar = 'СкладХимки Ячеистый'
and Артикул::varchar is not null
and Дата_обновления::date is not null
and Сейчас_Доступно::bigint is not null
group by Дата_обновления::date, Артикул::varchar
order by Дата_обновления::date desc, Артикул::varchar
)
select 
coalesce(Irkutsk_stocks.item_code, Khimki_stocks.item_code) as item_code,
coalesce(Irkutsk_stocks.date, Khimki_stocks.date) as date,
Irkutsk_stocks,
Khimki_stocks,
'ir' as account
from Irkutsk_stocks
full join Khimki_stocks
on Irkutsk_stocks.item_code = Khimki_stocks.item_code
and Irkutsk_stocks.date = Khimki_stocks.date
)
select * 
from RC_stocks;
"""

### data_mart_ddl

In [23]:
"""
CREATE MATERIALIZED VIEW IF NOT EXISTS dds_ir_db.data_mart as
with 
data_mart_mat_view as (
select *
from dds_ir_db.oz_view
union all
select * 
from dds_ir_db.wb_view
union all
select * 
from dds_ir_db.ya_view
)
select
ROW_NUMBER() over() as id,
data_mart_mat_view.item_code::varchar(10),
data_mart_mat_view.date::date,
coalesce(orders, 0)::bigint as orders,
prices,
prices_before_discount,
prices_from_orders,
coalesce(fbo_stocks, 0)::bigint as fbo_stocks,
coalesce(fbs_stocks, 0)::bigint as fbs_stocks,
coalesce(buyouts, 0)::bigint as buyouts,
coalesce(orders_without_buyouts, 0)::bigint as orders_without_buyouts,
irkutsk_stocks,
khimki_stocks,
data_mart_mat_view.account::varchar(10),
marketplace::varchar(20)
from data_mart_mat_view
left join dds_ir_db.rc_stocks_view
on data_mart_mat_view.item_code = rc_stocks_view.item_code
and data_mart_mat_view.date = rc_stocks_view.date
and data_mart_mat_view.account = rc_stocks_view.account
order by marketplace, account, date desc, item_code;
create unique index on dds_ir_db.data_mart (id);


REFRESH MATERIALIZED view dds_ir_db.data_mart;
"""

### wb_bar_with_null_art_view_ddl

In [ ]:
"""
CREATE OR REPLACE VIEW dds_ir_db.wb_bar_with_null_art_view as
with
distinct_barcode as (
select distinct barcode::bigint
from
(
select distinct barcode::bigint
from dds_ir_db.dds_wb_orders
union all 
select distinct barcode::bigint
from dds_ir_db.dds_wb_prices
union all
select distinct barcode::bigint
from dds_ir_db.dds_wb_stocks
) as d_b
where barcode is not null and barcode::bigint != 0
)
select 
distinct_barcode.barcode::bigint,
article_name::varchar,
count(*) OVER () as null_art
from distinct_barcode
left join ir_db.article_barcodes as a_b
on distinct_barcode.barcode::bigint = a_b.barcode::bigint
where article_name::varchar is null;
"""

## full_wb

CREATE OR REPLACE VIEW ir_db.full_wb
AS WITH full_wb_4 AS (
         WITH full_wb_3 AS (
                 WITH wbo AS (
                         SELECT wb_orders2_copy.barcode::bigint AS "Баркод",
                            wb_orders2_copy.date::date AS date,
                            count(wb_orders2_copy.barcode) AS orders
                           FROM ir_db.wb_orders2_copy
                          WHERE wb_orders2_copy.barcode::character varying::text <> ''::text AND wb_orders2_copy.date IS NOT NULL AND wb_orders2_copy.barcode IS NOT NULL AND wb_orders2_copy.date >= '2022-12-09 00:00:00+06'::timestamp with time zone
                          GROUP BY wb_orders2_copy.barcode, wb_orders2_copy.date
                         HAVING wb_orders2_copy.barcode::character varying::text !~~ '1%'::text AND wb_orders2_copy.barcode::character varying::text !~~ '2%'::text
                        UNION ALL
                         SELECT wb_orders_old."Баркод",
                            wb_orders_old.date,
                            wb_orders_old."Заказы" AS orders
                           FROM ir_db.wb_orders_old
                          WHERE wb_orders_old.date < '2022-12-09'::date AND wb_orders_old.date IS NOT NULL AND wb_orders_old."Баркод" IS NOT NULL AND wb_orders_old."Баркод"::character varying::text <> ''::text
                  ORDER BY 2 DESC, 1
                        ), wbfbos AS (
                         SELECT wb_fbo_stocks.barcode::bigint AS "Баркод",
                            wb_fbo_stocks.date,
                            sum(wb_fbo_stocks.quantityfull::integer) AS fbo_stocks
                           FROM ir_db.wb_fbo_stocks
                          WHERE wb_fbo_stocks.barcode::character varying::text <> ''::text AND wb_fbo_stocks.date IS NOT NULL AND wb_fbo_stocks.barcode IS NOT NULL AND wb_fbo_stocks.date >= '2023-10-06'::date
                          GROUP BY wb_fbo_stocks.barcode, wb_fbo_stocks.date
                         HAVING wb_fbo_stocks.barcode::character varying::text !~~ '1%'::text AND wb_fbo_stocks.barcode::character varying::text !~~ '2%'::text
                        UNION ALL
                         SELECT wb_fbo_stocks_old."Баркод",
                            wb_fbo_stocks_old.date,
                            wb_fbo_stocks_old."Остатки_фбо" AS fbo_stocks
                           FROM ir_db.wb_fbo_stocks_old
                          WHERE wb_fbo_stocks_old.date < '2023-10-06'::date AND wb_fbo_stocks_old.date IS NOT NULL AND wb_fbo_stocks_old."Баркод" IS NOT NULL AND wb_fbo_stocks_old."Баркод"::character varying::text <> ''::text
                  ORDER BY 2 DESC, 1
                        ), wbfbss AS (
                         SELECT wb_fbs_stocks."Баркод",
                            wb_fbs_stocks.date,
                            sum(wb_fbs_stocks."Остатки_fbs") AS fbs_stocks
                           FROM ir_db.wb_fbs_stocks
                          WHERE wb_fbs_stocks."Склад"::text = 'ПСР'::text AND wb_fbs_stocks."Баркод"::character varying::text <> ''::text AND wb_fbs_stocks.date IS NOT NULL AND wb_fbs_stocks."Баркод" IS NOT NULL AND wb_fbs_stocks.date >= '2023-10-06'::date
                          GROUP BY wb_fbs_stocks."Баркод", wb_fbs_stocks.date
                         HAVING wb_fbs_stocks."Баркод"::character varying::text !~~ '1%'::text AND wb_fbs_stocks."Баркод"::character varying::text !~~ '2%'::text
                        UNION ALL
                         SELECT wb_fbs_stocks_old."Баркод",
                            wb_fbs_stocks_old.date,
                            wb_fbs_stocks_old."Остатки_фбс" AS fbs_stocks
                           FROM ir_db.wb_fbs_stocks_old
                          WHERE wb_fbs_stocks_old.date < '2023-10-06'::date AND wb_fbs_stocks_old.date IS NOT NULL AND wb_fbs_stocks_old."Баркод" IS NOT NULL AND wb_fbs_stocks_old."Баркод"::character varying::text <> ''::text
                  ORDER BY 2 DESC, 1
                        ), wbp AS (
                         SELECT wb_prices."Баркод",
                            wb_prices.date,
                            sum(wb_prices.price::double precision * ((100::double precision - wb_prices.discount::double precision) / 100::double precision)) AS prices
                           FROM ir_db.wb_prices
                          WHERE wb_prices.price > 0 AND wb_prices."Баркод"::character varying::text <> ''::text AND wb_prices.date IS NOT NULL AND wb_prices."Баркод" IS NOT NULL AND wb_prices.date >= '2023-10-06'::date
                          GROUP BY wb_prices."Баркод", wb_prices.date
                         HAVING wb_prices."Баркод"::character varying::text !~~ '1%'::text AND wb_prices."Баркод"::character varying::text !~~ '2%'::text
                        UNION ALL
                         SELECT wb_prices_old."Баркод",
                            wb_prices_old.date,
                            wb_prices_old."Цена" AS prices
                           FROM ir_db.wb_prices_old
                          WHERE wb_prices_old.date < '2023-10-06'::date AND wb_prices_old.date IS NOT NULL AND wb_prices_old."Баркод" IS NOT NULL AND wb_prices_old."Баркод"::character varying::text <> ''::text
                  ORDER BY 2 DESC, 1
                        )
                 SELECT COALESCE(wbo."Баркод", wbfbos."Баркод", wbfbss."Баркод", wbp."Баркод") AS "Баркод",
                    COALESCE(wbo.date, wbfbos.date, wbfbss.date, wbp.date, '1999-01-01'::date) AS date,
                    wbo.orders,
                    wbfbos.fbo_stocks,
                    wbfbss.fbs_stocks,
                    wbp.prices
                   FROM wbo
                     FULL JOIN wbfbos ON wbo."Баркод" = wbfbos."Баркод" AND wbo.date = wbfbos.date
                     FULL JOIN wbfbss ON wbo."Баркод" = wbfbss."Баркод" AND wbo.date = wbfbss.date
                     FULL JOIN wbp ON wbo."Баркод" = wbp."Баркод" AND wbo.date = wbp.date
                  ORDER BY (COALESCE(wbo.date, wbfbos.date, wbfbss.date, wbp.date, '1999-01-01'::date)) DESC, (COALESCE(wbo."Баркод", wbfbos."Баркод", wbfbss."Баркод", wbp."Баркод"))
                ), ab AS (
                 SELECT article_barcodes_red.item_code,
                    article_barcodes_red."Баркод"
                   FROM ( SELECT article_barcodes.article_name AS item_code,
                            article_barcodes.barcode AS "Баркод",
                            ( SELECT count(*) - count(DISTINCT article_barcodes_1.barcode) AS doubles_bar
                                   FROM ir_db.article_barcodes article_barcodes_1) AS doubles_bar
                           FROM ir_db.article_barcodes) article_barcodes_red
                  WHERE article_barcodes_red.doubles_bar = 0
                )
         SELECT ab.item_code,
            full_wb_3.date,
            sum(full_wb_3.orders) AS orders,
            sum(full_wb_3.fbo_stocks) AS fbo_stocks,
            sum(full_wb_3.fbs_stocks) AS fbs_stocks,
            avg(full_wb_3.prices) AS prices
           FROM full_wb_3
             LEFT JOIN ab ON full_wb_3."Баркод" = ab."Баркод"
          GROUP BY ab.item_code, full_wb_3.date
        ), wbb AS (
         SELECT wb_buyouts.article AS item_code,
            wb_buyouts.date::date AS date,
            sum(wb_buyouts.buyouts) AS buyouts
           FROM ir_db.wb_buyouts
          WHERE wb_buyouts.article IS NOT NULL AND wb_buyouts.date IS NOT NULL AND wb_buyouts.date <= now()::date
          GROUP BY wb_buyouts.article, wb_buyouts.date
          ORDER BY (wb_buyouts.date::date) DESC, wb_buyouts.article
        )
 SELECT COALESCE(full_wb_4.item_code, wbb.item_code) AS item_code,
    COALESCE(full_wb_4.date, wbb.date) AS date,
    full_wb_4.orders,
    full_wb_4.fbo_stocks,
    full_wb_4.fbs_stocks,
    full_wb_4.prices,
    wbb.buyouts,
    'wb'::text AS marketpalce
   FROM full_wb_4
     FULL JOIN wbb ON full_wb_4.item_code::text = wbb.item_code::text AND full_wb_4.date = wbb.date
  WHERE COALESCE(full_wb_4.item_code, wbb.item_code) IS NOT NULL
  ORDER BY (COALESCE(full_wb_4.date, wbb.date)) DESC, (COALESCE(full_wb_4.item_code, wbb.item_code));

## full_oz

CREATE OR REPLACE VIEW ir_db.full_oz
AS WITH ozo AS (
         SELECT full_ozon_orders_2.item_code,
            full_ozon_orders_2.date,
            full_ozon_orders_2.orders
           FROM ( SELECT full_ozon_orders.products_offer_id AS item_code,
                    full_ozon_orders.date,
                    sum(full_ozon_orders.orders) AS orders
                   FROM ( SELECT ozon_orders_fbo.products_offer_id,
                            ozon_orders_fbo.date,
                            ozon_orders_fbo.orders
                           FROM ( SELECT ozon_orders_copy.products_offer_id,
                                    ozon_orders_copy.created_at::date AS date,
                                    sum(ozon_orders_copy.products_quantity) AS orders
                                   FROM ir_db.ozon_orders_copy
                                  WHERE ozon_orders_copy.status::text <> 'cancelled'::text
                                  GROUP BY ozon_orders_copy.products_offer_id, (ozon_orders_copy.created_at::date)
                                  ORDER BY (ozon_orders_copy.created_at::date) DESC, ozon_orders_copy.products_offer_id) ozon_orders_fbo
                        UNION ALL
                         SELECT ozon_orders_fbs.products_offer_id,
                            ozon_orders_fbs.date,
                            ozon_orders_fbs.orders
                           FROM ( SELECT oz_fbs_orders.products_offer_id,
                                    oz_fbs_orders.in_process_at AS date,
                                    sum(oz_fbs_orders.products_quantity) AS orders
                                   FROM ir_db.oz_fbs_orders
                                  WHERE oz_fbs_orders.status::text <> 'cancelled'::text
                                  GROUP BY oz_fbs_orders.products_offer_id, oz_fbs_orders.in_process_at
                                  ORDER BY oz_fbs_orders.in_process_at DESC, oz_fbs_orders.products_offer_id) ozon_orders_fbs) full_ozon_orders
                  GROUP BY full_ozon_orders.products_offer_id, full_ozon_orders.date
                 HAVING full_ozon_orders.products_offer_id IS NOT NULL AND full_ozon_orders.date IS NOT NULL
                  ORDER BY full_ozon_orders.date DESC, full_ozon_orders.products_offer_id) full_ozon_orders_2
          WHERE full_ozon_orders_2.date >= '2021-07-15'::date
        UNION ALL
         SELECT oz_orders_old."Артикул" AS item_code,
            oz_orders_old.date,
            oz_orders_old."Заказы" AS orders
           FROM ir_db.oz_orders_old
          WHERE oz_orders_old.date IS NOT NULL AND oz_orders_old."Артикул" IS NOT NULL AND oz_orders_old.date < '2021-07-15'::date
  ORDER BY 2 DESC, 1
        ), ozfbos AS (
         SELECT oz_fbo_stocks.item_code,
            oz_fbo_stocks.date,
            sum(oz_fbo_stocks.free_to_sell_amount) AS fbo_stocks
           FROM ir_db.oz_fbo_stocks
          GROUP BY oz_fbo_stocks.item_code, oz_fbo_stocks.date
         HAVING oz_fbo_stocks.item_code IS NOT NULL AND oz_fbo_stocks.date IS NOT NULL AND oz_fbo_stocks.date >= '2023-09-29'::date
        UNION ALL
         SELECT oz_fbo_stocks_old."Артикул" AS item_code,
            oz_fbo_stocks_old.date,
            oz_fbo_stocks_old."Остатки_фбо" AS fbo_stocks
           FROM ir_db.oz_fbo_stocks_old
          WHERE oz_fbo_stocks_old.date IS NOT NULL AND oz_fbo_stocks_old."Артикул" IS NOT NULL AND oz_fbo_stocks_old.date < '2023-09-29'::date
  ORDER BY 2 DESC, 1
        ), ozfbss AS (
         SELECT oz_product_id_art."Артикул" AS item_code,
            oz_fbs_stocks_gr.date,
            oz_fbs_stocks_gr.fbs_stocks
           FROM ( SELECT oz_fbs_stocks.product_id,
                    oz_fbs_stocks.date,
                    sum(oz_fbs_stocks.present) AS fbs_stocks
                   FROM ir_db.oz_fbs_stocks
                  WHERE oz_fbs_stocks.warehouse_name::text = 'ПСР'::text
                  GROUP BY oz_fbs_stocks.product_id, oz_fbs_stocks.date
                  ORDER BY oz_fbs_stocks.date DESC, oz_fbs_stocks.product_id) oz_fbs_stocks_gr
             LEFT JOIN ( SELECT oz_products.ozon_product_id,
                    oz_products."Артикул"
                   FROM ir_db.oz_products
                  WHERE oz_products."Артикул" IS NOT NULL) oz_product_id_art ON oz_fbs_stocks_gr.product_id = oz_product_id_art.ozon_product_id
          WHERE oz_product_id_art."Артикул" IS NOT NULL AND oz_fbs_stocks_gr.date IS NOT NULL AND oz_fbs_stocks_gr.date >= '2023-11-13'::date
        UNION ALL
         SELECT oz_fbs_stocks_old."Артикул" AS item_code,
            oz_fbs_stocks_old.date,
            oz_fbs_stocks_old."Остатки_фбс" AS fbs_stocks
           FROM ir_db.oz_fbs_stocks_old
          WHERE oz_fbs_stocks_old.date IS NOT NULL AND oz_fbs_stocks_old."Артикул" IS NOT NULL AND oz_fbs_stocks_old.date < '2023-11-13'::date
  ORDER BY 2 DESC, 1
        ), ozp AS (
         SELECT oz_prices.offer_id AS item_code,
            oz_prices.date,
            avg(oz_prices.price) AS prices
           FROM ir_db.oz_prices
          GROUP BY oz_prices.offer_id, oz_prices.date
         HAVING oz_prices.offer_id IS NOT NULL AND oz_prices.date IS NOT NULL AND oz_prices.date >= '2023-12-20'::date
        UNION ALL
         SELECT oz_prices_old."Артикул" AS item_code,
            oz_prices_old.date,
            oz_prices_old."Цены" AS prices
           FROM ir_db.oz_prices_old
          WHERE oz_prices_old.date IS NOT NULL AND oz_prices_old."Артикул" IS NOT NULL AND oz_prices_old.date < '2023-12-20'::date
  ORDER BY 2 DESC, 1
        ), ozb AS (
         SELECT ozon_buyouts.article AS item_code,
            ozon_buyouts.date::date AS date,
            sum(ozon_buyouts.buyouts) AS buyouts
           FROM ir_db.ozon_buyouts
          GROUP BY ozon_buyouts.article, ozon_buyouts.date
         HAVING ozon_buyouts.article IS NOT NULL AND ozon_buyouts.date IS NOT NULL
          ORDER BY (ozon_buyouts.date::date) DESC, ozon_buyouts.article
        )
 SELECT COALESCE(ozo.item_code, ozfbos.item_code, ozfbss.item_code, ozp.item_code, ozb.item_code, 'none'::character varying) AS item_code,
    COALESCE(ozo.date, ozfbos.date, ozfbss.date, ozp.date, ozb.date, '1999-01-01'::date) AS date,
    ozo.orders,
    ozfbos.fbo_stocks,
    ozfbss.fbs_stocks,
    ozp.prices,
    ozb.buyouts,
    'oz'::text AS marketplace
   FROM ozo
     FULL JOIN ozfbos ON ozo.item_code::text = ozfbos.item_code::text AND ozo.date = ozfbos.date
     FULL JOIN ozfbss ON ozo.item_code::text = ozfbss.item_code::text AND ozo.date = ozfbss.date
     FULL JOIN ozp ON ozo.item_code::text = ozp.item_code::text AND ozo.date = ozp.date
     FULL JOIN ozb ON ozo.item_code::text = ozb.item_code::text AND ozo.date = ozb.date
  WHERE COALESCE(ozo.date, ozfbos.date, ozfbss.date, ozp.date, ozb.date, '1999-01-01'::date) <= now()::date
  ORDER BY (COALESCE(ozo.date, ozfbos.date, ozfbss.date, ozp.date, ozb.date, '1999-01-01'::date)) DESC, (COALESCE(ozo.item_code, ozfbos.item_code, ozfbss.item_code, ozp.item_code, ozb.item_code, 'none'::character varying));

## full_ya

CREATE OR REPLACE VIEW ir_db.full_ya
AS WITH yao AS (
         SELECT ya_orders_old."Артикул" AS item_code,
            ya_orders_old.date,
            ya_orders_old."Заказы" AS orders
           FROM ir_db.ya_orders_old
          WHERE ya_orders_old."Артикул" IS NOT NULL AND ya_orders_old.date IS NOT NULL
        ), yap AS (
         SELECT ya_prices_old."Артикул" AS item_code,
            ya_prices_old.date,
            ya_prices_old."Цены" AS prices
           FROM ir_db.ya_prices_old
          WHERE ya_prices_old."Артикул" IS NOT NULL AND ya_prices_old.date IS NOT NULL
        ), yafbos AS (
         SELECT ya_fbo_stocks_old."Артикул" AS item_code,
            ya_fbo_stocks_old.date,
            ya_fbo_stocks_old."Остатки_фбо" AS fbo_stocks
           FROM ir_db.ya_fbo_stocks_old
          WHERE ya_fbo_stocks_old."Артикул" IS NOT NULL AND ya_fbo_stocks_old.date IS NOT NULL
        ), yafbss AS (
         SELECT ya_fbs_stocks_old."Артикул" AS item_code,
            ya_fbs_stocks_old.date,
            ya_fbs_stocks_old."Остатки_фбс" AS fbs_stocks
           FROM ir_db.ya_fbs_stocks_old
          WHERE ya_fbs_stocks_old."Артикул" IS NOT NULL AND ya_fbs_stocks_old.date IS NOT NULL
        )
 SELECT COALESCE(yao.item_code, yafbos.item_code, yafbss.item_code, yap.item_code, 'none'::character varying) AS item_code,
    COALESCE(yao.date, yafbos.date, yafbss.date, yap.date, '1999-01-01'::date) AS date,
    yao.orders,
    yafbos.fbo_stocks,
    yafbss.fbs_stocks,
    yap.prices,
    NULL::integer AS buyouts,
    'ya'::text AS marketplace
   FROM yao
     FULL JOIN yafbos ON yao.item_code::text = yafbos.item_code::text AND yao.date = yafbos.date
     FULL JOIN yafbss ON yao.item_code::text = yafbss.item_code::text AND yao.date = yafbss.date
     FULL JOIN yap ON yao.item_code::text = yap.item_code::text AND yao.date = yap.date
  WHERE COALESCE(yao.date, yafbos.date, yafbss.date, yap.date, '1999-01-01'::date) <= now()::date
  ORDER BY (COALESCE(yao.date, yafbos.date, yafbss.date, yap.date, '1999-01-01'::date)) DESC, (COALESCE(yao.item_code, yafbos.item_code, yafbss.item_code, yap.item_code, 'none'::character varying));

## full_sb

CREATE OR REPLACE VIEW ir_db.full_sb
AS WITH sbo AS (
         SELECT sb_orders_old."Артикул" AS item_code,
            sb_orders_old.date,
            sb_orders_old."Заказы" AS orders
           FROM ir_db.sb_orders_old
          WHERE sb_orders_old."Артикул" IS NOT NULL AND sb_orders_old.date IS NOT NULL
        ), sbp AS (
         SELECT sb_prices_old."Артикул" AS item_code,
            sb_prices_old.date,
            sb_prices_old."Цены" AS prices
           FROM ir_db.sb_prices_old
          WHERE sb_prices_old."Артикул" IS NOT NULL AND sb_prices_old.date IS NOT NULL
        ), sbfbos AS (
         SELECT sb_fbo_stocks_old."Артикул" AS item_code,
            sb_fbo_stocks_old.date,
            sb_fbo_stocks_old."Остатки_фбо" AS fbo_stocks
           FROM ir_db.sb_fbo_stocks_old
          WHERE sb_fbo_stocks_old."Артикул" IS NOT NULL AND sb_fbo_stocks_old.date IS NOT NULL
        )
 SELECT COALESCE(sbo.item_code, sbfbos.item_code, sbp.item_code, 'none'::character varying) AS item_code,
    COALESCE(sbo.date, sbfbos.date, sbp.date, '1999-01-01'::date) AS date,
    sbo.orders,
    sbfbos.fbo_stocks,
    NULL::integer AS fbs_stocks,
    sbp.prices,
    NULL::integer AS buyouts,
    'sb'::text AS marketplace
   FROM sbo
     FULL JOIN sbfbos ON sbo.item_code::text = sbfbos.item_code::text AND sbo.date = sbfbos.date
     FULL JOIN sbp ON sbo.item_code::text = sbp.item_code::text AND sbo.date = sbp.date
  WHERE COALESCE(sbo.date, sbfbos.date, sbp.date, '1999-01-01'::date) <= now()::date
  ORDER BY (COALESCE(sbo.date, sbfbos.date, sbp.date, '1999-01-01'::date)) DESC, (COALESCE(sbo.item_code, sbfbos.item_code, sbp.item_code, 'none'::character varying));

## full_le

CREATE OR REPLACE VIEW ir_db.full_le
AS WITH leo AS (
         SELECT le_orders_old."Артикул" AS item_code,
            le_orders_old.date,
            le_orders_old."Заказы" AS orders
           FROM ir_db.le_orders_old
          WHERE le_orders_old."Артикул" IS NOT NULL AND le_orders_old.date IS NOT NULL
        ), lep AS (
         SELECT le_prices_old."Артикул" AS item_code,
            le_prices_old.date,
            le_prices_old."Цены" AS prices
           FROM ir_db.le_prices_old
          WHERE le_prices_old."Артикул" IS NOT NULL AND le_prices_old.date IS NOT NULL
        ), lefbos AS (
         SELECT le_fbo_stocks_old."Артикул" AS item_code,
            le_fbo_stocks_old.date,
            le_fbo_stocks_old."Остатки_фбо" AS fbo_stocks
           FROM ir_db.le_fbo_stocks_old
          WHERE le_fbo_stocks_old."Артикул" IS NOT NULL AND le_fbo_stocks_old.date IS NOT NULL
        )
 SELECT COALESCE(leo.item_code, lefbos.item_code, lep.item_code, 'none'::character varying) AS item_code,
    COALESCE(leo.date, lefbos.date, lep.date, '1999-01-01'::date) AS date,
    leo.orders,
    lefbos.fbo_stocks,
    NULL::integer AS fbs_stocks,
    lep.prices,
    NULL::integer AS buyouts,
    'le'::text AS marketplace
   FROM leo
     FULL JOIN lefbos ON leo.item_code::text = lefbos.item_code::text AND leo.date = lefbos.date
     FULL JOIN lep ON leo.item_code::text = lep.item_code::text AND leo.date = lep.date
  WHERE COALESCE(leo.date, lefbos.date, lep.date, '1999-01-01'::date) <= now()::date
  ORDER BY (COALESCE(leo.date, lefbos.date, lep.date, '1999-01-01'::date)) DESC, (COALESCE(leo.item_code, lefbos.item_code, lep.item_code, 'none'::character varying));

## marketplaces_full_data

CREATE MATERIALIZED VIEW ir_db.marketplaces_full_data
TABLESPACE pg_default
AS SELECT full_wb.item_code,
    full_wb.date,
    full_wb.orders,
    full_wb.fbo_stocks,
    full_wb.fbs_stocks,
    full_wb.prices,
    full_wb.buyouts,
    full_wb.marketpalce
   FROM ir_db.full_wb
UNION ALL
 SELECT full_oz.item_code,
    full_oz.date,
    full_oz.orders,
    full_oz.fbo_stocks,
    full_oz.fbs_stocks,
    full_oz.prices,
    full_oz.buyouts,
    full_oz.marketplace AS marketpalce
   FROM ir_db.full_oz
UNION ALL
 SELECT full_ya.item_code,
    full_ya.date,
    full_ya.orders,
    full_ya.fbo_stocks,
    full_ya.fbs_stocks,
    full_ya.prices,
    full_ya.buyouts,
    full_ya.marketplace AS marketpalce
   FROM ir_db.full_ya
UNION ALL
 SELECT full_sb.item_code,
    full_sb.date,
    full_sb.orders,
    full_sb.fbo_stocks,
    full_sb.fbs_stocks,
    full_sb.prices,
    full_sb.buyouts,
    full_sb.marketplace AS marketpalce
   FROM ir_db.full_sb
UNION ALL
 SELECT full_le.item_code,
    full_le.date,
    full_le.orders,
    full_le.fbo_stocks,
    full_le.fbs_stocks,
    full_le.prices,
    full_le.buyouts,
    full_le.marketplace AS marketpalce
   FROM ir_db.full_le
WITH DATA;


REFRESH MATERIALIZED VIEW marketplaces_full_data;